

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;

}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100px;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 1px;
}

.phone-number {
  margin-bottom: 3px;
  border-radius: 5px;
}

.message {
  margin-bottom: 3px;
  border-radius: 5px;
}