html {
  background: url(../imgs/background-possible.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 950px;
}

.logo {
  font-family: sans-serif;
  opacity: .5;
  color: white;
  margin-left: 1100px;

  font-size: 50px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 2em;
  margin-right: 5em;
  margin-top: 5em;
  align-items: center;
  width: 20%;
  height: 280px;
  background-color:  rgb(16, 19, 53);
  border-radius: 5px;
  box-shadow: 1px;
}

input {
  margin-bottom: 5px;
  border-radius: 5px;
}
./*phone-number {
  margin-bottom: 3px;
  border-radius: 5px;
}

.message {
  margin-bottom: 3px;
  border-radius: 5px;
}

.date {
  margin-bottom: 3px;
  border-radius: 5px;
}

.time {
  margin-bottom: 3px;
  border-radius: 5px;
}

*/
