


<div class="container">

  <div class="form-wrapper">
      <form action='/texts' method="post">
       <input type="text" name="recipient" placeholder="recipient" class="recipient">
       <textarea name="message" placeholder="enter your message" class="message"></textarea>
       <input type="text"  name="number" placeholder="enter phone number" class="phone-number">
        <input type="date" name="date">
        <input type="time" name="time">
        <input type="submit" value="submit">
      </form>
  </div>
</div>

